Source: aziot-identity-service
Section: admin
Priority: optional
Maintainer: Azure IoT Edge Devs
Build-Depends: debhelper (>=9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: https://github.com/azure/iot-identity-service
Vcs-Browser: https://github.com/azure/iot-identity-service
Vcs-Git: https://github.com/azure/iot-identity-service

Package: aziot-identity-service
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: iotedge
Description: Azure IoT Identity Service and related services
 This package contains the Azure IoT device runtime, comprised of the following services:
 .
 - aziot-identityd - The Azure IoT Identity Service
 - aziot-certd - The Azure IoT Certificates Service
 - aziot-keyd - The Azure IoT Keys Service
 - aziot-tpmd - The Azure IoT TPM Service
 .
 This package also contains the following libraries:
 .
 - libaziot_keys.so - The library used by the Keys Service to communicate with HSMs for key operations.
 - <openssl engines directory>/aziot_keys.so - An openssl engine that can be used to work with asymmetric keys managed by the Azure IoT Keys Service.
 .
 Lastly, this package contains the aziot binary that is used to configure and manage the services.
