#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export DH_OPTIONS = -v


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

PRIVATE_LIBS := /usr/lib/aziot-identity-service
# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with systemd

.PHONY: override_dh_auto_build override_dh_auto_install override_dh_auto_test override_dh_systemd_enable override_dh_systemd_start

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_build:
	# Default behavior is `make -j1`, which is not quite right for us.
	make -j \
		RELEASE=1 \
		V=1

override_dh_auto_install:
	# Default behavior is `make -j1 install DESTDIR=$$PWD/debian/aziot-identity-service`, which is not quite right for us.
	case "$$ARCH" in \
		'amd64') arch_libdir='x86_64-linux-gnu';; \
		'arm32v7') arch_libdir='arm-linux-gnueabihf';; \
		'aarch64') arch_libdir='aarch64-linux-gnu';; \
		'*') exit 1;; \
	esac; \
	make -j \
		DESTDIR=$$PWD/debian/aziot-identity-service \
		localstatedir=/var \
		sysconfdir=/etc \
		unitdir=/lib/systemd/system \
		OPENSSL_ENGINES_DIR=/usr/lib/$$arch_libdir/engines-1.1 \
		RELEASE=1 \
		V=1 \
		install-deb

	# Default behavior of dh_systemd_enable and dh_systemd_start is to enable and start all installed units, ie both sockets and services.
	# But we don't want to enable or start the services, since the sockets will start them automatically anyway.
	dh_systemd_enable aziot-certd.socket aziot-identityd.socket aziot-keyd.socket aziot-tpmd.socket
	dh_systemd_start aziot-certd.socket aziot-identityd.socket aziot-keyd.socket aziot-tpmd.socket

override_dh_auto_test:
	# Default behavior is `make test`, which we don't need, and won't work for cross-compiled packages anyway.
	echo 'noop'
