[submodule "third-party/libtpms"]
	path = third-party/libtpms
	url = https://github.com/stefanberger/libtpms.git
[submodule "third-party/patchelf"]
	path = third-party/patchelf
	url = https://github.com/NixOS/patchelf.git
[submodule "third-party/swtpm"]
	path = third-party/swtpm
	url = https://github.com/stefanberger/swtpm.git
[submodule "third-party/tpm2-tss"]
	path = third-party/tpm2-tss
	url = https://github.com/tpm2-software/tpm2-tss.git
