[submodule "third-party/tpm2-tss"]
	path = third-party/tpm2-tss
	url = https://github.com/tpm2-software/tpm2-tss.git
	branch = 3.1.x
[submodule "third-party/patchelf"]
	path = third-party/patchelf
	url = https://github.com/NixOS/patchelf.git
	branch = 0.14.5
