[Unit]
Description=Azure IoT Keys Service

[Service]
ExecStart=/usr/libexec/aziot-identity-service/aziot-keyd
KillMode=process
Restart=on-failure
RestartSec=5s
User=aziotks

[Install]
WantedBy=multi-user.target
