[package]
name = "aziotd"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
edition = "2018"


[dependencies]
backtrace = "0.3"
env_logger = "0.8"
hyper = "0.13"
log = "0.4"
serde = "1"
tokio = { version = "1.0", features = ["macros", "sync", "rt"] }

aziot-certd = { path = "../cert/aziot-certd" }
aziot-identityd = { path = "../identity/aziot-identityd" }
aziot-keyd = { path = "../key/aziot-keyd" }
aziot-tpmd = { path = "../tpm/aziot-tpmd" }
config-common = { path = "../config-common" }
http-common = { path = "../http-common", features = ["tokio02"] }
