name: 'packages'

on:
- 'pull_request'
- 'push'

jobs:
  packages:
    runs-on: 'ubuntu-18.04'

    strategy:
      fail-fast: false

      matrix:
        container_os:
        - 'centos:7'
        - 'debian:9-slim'
        - 'debian:10-slim'
        - 'debian:11-slim'
        - 'redhat/ubi8:latest'
        - 'ubuntu:18.04'
        - 'ubuntu:20.04'
        arch:
        - 'amd64'
        - 'arm32v7'
        - 'aarch64'
        os:
        - ''
        exclude:
        # CentOS 7 does not have functioning cross compilers. The Azure/iotedge repo builds CentOS 7 arm32v7 and aarch64 packages
        # by running the arm32v7 / aarch64 containers under qemu. For now we don't care to replicate that here.
        - container_os: 'centos:7'
          arch: 'arm32v7'
        - container_os: 'centos:7'
          arch: 'aarch64'
        # More investigation needed for RHEL 8. Excluding for now.
        - container_os: 'redhat/ubi8:latest'
          arch: 'arm32v7'
        - container_os: 'redhat/ubi8:latest'
          arch: 'aarch64'
        # Include this for mariner package builds. Mariner cannot be built on its own OS so we need an Ubuntu container.
        include:
        - container_os: 'ubuntu:18.04'
          arch: 'amd64'
          os: 'mariner:1'
        - container_os: 'ubuntu:18.04'
          arch: 'amd64'
          os: 'mariner:2'

    steps:
    - uses: 'actions/checkout@v1'
      with:
        submodules: 'recursive'
    - name: 'Run'
      run: |
        docker run --rm \
          -v "$GITHUB_WORKSPACE:/src" \
          -e "ARCH=$ARCH" \
          -e "OS=$OS" \
          -e "PACKAGE_VERSION=$PACKAGE_VERSION" \
          -e "PACKAGE_RELEASE=$PACKAGE_RELEASE" \
          --privileged \
          "${{ matrix.container_os }}" \
          '/src/ci/package.sh'
      env:
        ARCH: "${{ matrix.arch }}"
        OS: "${{ matrix.os }}"
        PACKAGE_VERSION: '1.2.6'
        PACKAGE_RELEASE: '1'
    - name: 'Generate artifact properties'
      id: 'generate-artifact-properties'
      run: |
        OS="${{ matrix.os }}"
        if [ -z "$OS" ]; then
          os_package="${{ matrix.container_os }}"
          os_package="$(sed -e 's@[:/]@-@g' <<< "$os_package")"
        else
          os_package="$OS"
          os_package="$(sed -e 's@[:/]@-@g' <<< "$os_package")"
        fi
        echo "::set-output name=artifact-name::packages_${os_package}_${{ matrix.arch }}"
    - name: 'Upload'
      uses: 'actions/upload-artifact@v1'
      with:
        name: "${{ steps.generate-artifact-properties.outputs.artifact-name }}"
        path: 'packages'
